# Copier ce fichier en .env puis remplir les valeurs
MYSQL_ROOT_PASSWORD=changeme

SPRING_DATASOURCE_URL=jdbc:mysql://paymybuddy-db:3306/db_paymybuddy
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=changeme
